<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>🙅💰</key>
	<string>NOMONEY</string>
	<key>👎💔</key>
	<string>LOSTLOVE</string>
	<key>😡😤</key>
	<string>TEMPER</string>
	<key>🔥🤕</key>
	<string>BURN</string>
	<key>😈</key>
	<string>EVIL</string>
</dict>
</plist>
