<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>😈</key>
	<string>EVIL</string>
	<key>👩🏼‍🎓⌚️</key>
	<string>SMARTWATCH</string>
	<key>☀️📅</key>
	<string>SUNNYDAY</string>
	<key>🛌🕰</key>
	<string>NAPTIME</string>
	<key>💰💵💎</key>
	<string>WEALTHY</string>
</dict>
</plist>
