<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>😈</key>
	<string>Evil</string>
	<key>👩🏼‍🎓⌚️</key>
	<string>Smart Watch</string>
	<key>☀️📅</key>
	<string>Sunny Day</string>
	<key>🛌🕰</key>
	<string>Nap Time</string>
	<key>💰💵💎</key>
	<string>Wealthy</string>
</dict>
</plist>
